* { 
	margin:0; 
	padding:0; 
	box-sizing:border-box; 
}

#logo{
	display: block;
	margin: 0 auto;
	width: 600px;
}

.main {
	font-family: 'Montserrat', serif;
	font-size: 20px;
	margin-top: 100px;
}

h1 {
	background-color: #4150AD;
	text-align: center;
	color: #ffffff;
	margin-bottom: 7%;
	margin-top: 10%;
	margin-left: 30%;
	margin-right: 30%;
}

nav {
	background-color: white;
	text-align: center;
}

ul {
	list-style: none;
}

li {
	display: inline-block;
}

nav a {
	color: #405CAC;
	font-family: 'Montserrat', serif;
	font-size: 1em;
	padding: 10px;
	text-decoration: none;
}

a:hover {
	color: #56617F;
}

#Homepage {
	background: url("Images/Columbia&K.jpg") no-repeat;
	background-size: cover;
	clear: both;
	display: block;
	height: 90vh;
	margin-top: 10%;
	margin-bottom: 10%;
}

#Poetry {
	display: inline-block;
	float: left;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	line-height: 170%;
	margin-left: 14%;
	margin-top: 15%;
	text-align: left;
}

#Notthere {
	color: #56617F;
	display: inline-block;
	float: left;
	font-family: 'Dancing Script', script;
	font-size: 1.5em;
	font-weight: bolder;
	position: absolute;
	margin-bottom: 5%;
	text-align: left;
}

#Poetry2 {
	display: inline-block;
	float: left;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	line-height: 150%;
	padding-left: 20%;
	text-align: left;
}

#About {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
	width: 800px;
}

.Blog {
	display: block;
	font-family: 'Lato', sans-serif;
	font-size: .90em;
	margin-right: auto;
	margin-left: auto;
	width: 800px;
	clear: both;
}

article {
	clear:both;
	display: block;
	float: left;
}

.Blogarchive {
	clear: both;
	display: block;
	font-family: 'Lato', sans-serif;
	font-size: .90em;
	margin-bottom: 10%;
	margin-right: auto;
	margin-left: auto;
	width: 800px;
}

.Blogtitle {
	color: #56617F;
	display: inline-block;
	font-family: 'Lato', sans-serif;
	font-size: 1.2em;
	margin-bottom: 1%;
	text-align: left;
}

.Blogdate {
	display: block;
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	margin-bottom: 2%;
	text-align: left;
}

.Blogphoto {
	clear: both;
	display: block;
	float: left;
	margin-top: 4%;
	margin-right: 5%;
	margin-bottom: 2%;
}

figcaption {
	font-family: 'Lato', sans-serif;
	font-size: .8em;
}

#Inspiration {
	clear: both;
	display: block;
	margin-top: 20%;
	margin-left: auto;
	margin-bottom: 10%;
	margin-right: auto;
	width: 800px;
}

.Inspirationphoto {
	display: inline-block;
	float: left;
	height: 50%;
	width: 50%;
	padding: 2%;
}

footer {
	display: block;
	font-family: 'Montserrat', serif;
	padding: 40px;
	text-align: center;
	clear: both;
}

.clearfix:after { 
   content: "."; 
   visibility: hidden; 
   display: block; 
   height: 0; 
   clear: both;
}

