* { 
	margin:0; 
	padding:0; 
	box-sizing:sborder-box; 
}

body {
	background: url("images/stripes.png") repeat-x, url("images/background.jpg");
	color: #ffffff;
	font-family: Circular, Helvetica, Arial, sans-serif;
	font-size: 20px;
	margin-left: 100px;
	margin-top: 240px;
}

hr {
	color: #fd6e6e;
	margin-bottom: 20px;
	margin-right:1450px;
	margin-top: 30px;
	width: 60px;
}

#appStore {
	margin-top: 20px;
}
