* { 
	margin:0; 
	padding:0; 
	box-sizing:border-box; 
}

body {
	background: url("images/stripes.png") repeat-x, url("images/background.jpg") no-repeat;
	background-size:auto, cover;
	color: #ffffff;
	font-family: Circular, Helvetica, Arial, sans-serif;
	font-size: 20px;
}
section {
	margin-left: 100px;
	margin-top: 240px;
}

hr {
	border: 1px #fd6e6e solid;
	margin-bottom: 20px;
	margin-right:1450px;
	margin-top: 30px;
	width: 60px;
}

#appStore {
	margin-top: 20px;
}
