@media (max-width: 800px) {
	.Blog {
		width: 600px;
	}
	
	.Blogarchive {
		width: 600px;
	}

	.Blogphoto {
		clear: both;
		display: inline-block;
		float: left;
	}

	#Homepage {
		height: 70vh;
	}

	#logo {
		display: block;
		margin: 0 auto;
		width: 300px;
	}
}

@media (max-width: 600px) {
	#Homepage {
		height: 70vh;
	}

	.Blogphoto {
		clear: both;
		display: inline-block;
		float: left;
	}
}

@media (max-width: 400px) {
	.Blog {
		width: 300px;
	}
	.Blogarchive {
		width: 300px;
	}
	
	.Blogphoto {
		clear: both;
		display: inline-block;
		float: left;
	}

	#Homepage {
		height: 65vh;
	}

	#logo{
		display: block;
		margin: 0 auto;
		width: 200px;
	}
}